@import "tailwindcss";

@theme {
  --color-brand-dark: #323e48;
  --color-brand-lime: #b3ff00;
  --color-brand-gray: #bfbfbf;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #f5f5f4;
  color: #1f2937;
}
